div.container {
  max-width: 1000px;
  max-height: 700px;
  margin: auto;
  background-color: #0a4248;
  border-radius: 5px;
}

.axis-label {
  font-size: 22px;
}

.axis-sublabel {
  font-size: 18px;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9faaae;
  stroke-opacity: 0.2;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

.bar {
  fill: #80cbc4;
}

text {
  font-size: 14px;
  fill: #fff;
}

/**
Colors
"#4BD7E7", "#A3EBB1", "#278AB0", "#1DC690", "#EAEAE0"
1b2c35, 1c3848
*/
