div.container {
  max-width: 1000px;
  max-height: 700px;
  margin: auto;
  background-color: #0a4248;
  border-radius: 5px;
  position: relative;
}

.axis-label {
  font-size: 22px;
}

.axis-sublabel {
  font-size: 18px;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9faaae;
  stroke-opacity: 0.2;
}

path {
  stroke: gray;
}

line {
  stroke: gray;
}

.bar {
  fill: #80cbc4;
}

text {
  font-size: 14px;
  fill: #fff;
}

#seaice-tooltip,
#ghg-tooltip {
  position: absolute;
  background-color: white;
  opacity: 0.95;
  color: black;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/**
Colors
"#4BD7E7", "#A3EBB1", "#278AB0", "#1DC690", "#EAEAE0"
1b2c35, 1c3848
*/
